
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="service" class="service bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_service">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="choose_mac">
                            <div class="choose_slide">
                                <div class="choose_item">
                                    <img src="~/images/choose-img1.png" alt="" width="700" height="355" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="service_item sm-m-top-50">
                        <div class="head_title">
                            <h2 class="text-uppercase"><strong>Service 1</strong></h2>
                        </div>
                        <div class="service_content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis
                                morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit
                                amet erat condimentum porttitor ac quis turpis.
                            </p>
                            <!-- <a href="" class="btn btn-default m-top-40">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="service bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_service">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="choose_mac">
                            <div class="choose_slide">
                                <div class="choose_item">
                                    <img src="~/images/choose-img1.png" alt="" width="700" height="355" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="service_item sm-m-top-50">
                        <div class="head_title">
                            <h2 class="text-uppercase"><strong>Service 2</strong></h2>
                        </div>
                        <div class="service_content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis
                                morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit
                                amet erat condimentum porttitor ac quis turpis.
                            </p>
                            <!-- <a href="" class="btn btn-default m-top-40">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="service bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_service">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="choose_mac">
                            <div class="choose_slide">
                                <div class="choose_item">
                                    <img src="~/images/choose-img1.png" alt="" width="700" height="355" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="service_item sm-m-top-50">
                        <div class="head_title">
                            <h2 class="text-uppercase"><strong>Service 3</strong></h2>
                        </div>
                        <div class="service_content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis
                                morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit
                                amet erat condimentum porttitor ac quis turpis.
                            </p>
                            <!-- <a href="" class="btn btn-default m-top-40">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="service bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_service">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="choose_mac">
                            <div class="choose_slide">
                                <div class="choose_item">
                                    <img src="~/images/choose-img1.png" alt="" width="700" height="355" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="service_item sm-m-top-50">
                        <div class="head_title">
                            <h2 class="text-uppercase"><strong>Service 4</strong></h2>
                        </div>
                        <div class="service_content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis
                                morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit
                                amet erat condimentum porttitor ac quis turpis.
                            </p>
                            <!-- <a href="" class="btn btn-default m-top-40">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

